body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #2f2f31 0%, #17191d 100%);
  animation: colorChange 5s infinite alternate;
}
.App {
  min-height: 100vh; /* Ensure the app takes at least full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  transition: opacity 0.5s ease; /* Smooth transition for showing/hiding */
}

@keyframes colorChange {
  0% {
      background: linear-gradient(135deg, #36373a, #13181b);
  }
  100% {
      background: linear-gradient(135deg, #0e0f10, #62636b);
  }
}
.template-container {
  text-align: center;
  padding: 50px;
}

.main-heading {
  font-size: 3rem;
  margin-bottom: 50px;
  animation: fontColorChange 5s infinite alternate;
}

@keyframes fontColorChange {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
/* From Uiverse.io by Shoh2008 */ 
.loader-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.loader, .loader1 {
  display: block;
  width: 84px;
  height: 84px;
  position: relative;
}

.loader:before , .loader:after, .loader1:before , .loader1:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #FFF;
  transform: translate(-50% , -100%)  scale(0);
  animation: push_401 2s infinite linear;
}

.loader:after, .loader1:after {
  animation-delay: 1s;
}

@keyframes push_401 {
  0%, 50% {
    transform: translate(-50%, 0%) scale(1);
  }

  100% {
    transform: translate(-50%, -100%) scale(0);
  }
}


.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 0 15px rgb(248, 248, 248);
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px rgba(15, 14, 14, 0.8);
}

.card-photo {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card-button {
  background-color: #ff9900;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button {
  background-color: #28a745;
}

.preview-button {
  background-color: #007bff;
}

.card-button:hover {
  background-color: #ffcc00;
}
